services:
  dev:
    container_name: dev-instance
    stdin_open: true
    tty: true
    build: .
    volumes:
      - ../:/cloud
    working_dir: /cloud
    command: /bin/bash
    env_file:
      - ../dev.env
    environment:
      - AWS_ENDPOINT_URL=http://localstack:4566 
      
  localstack:
    container_name: localstack
    image: localstack/localstack 
    ports:
      - 4566:4566
      - 4510-4559:4510-4559
    # volumes:
    #   - /run/user/$(id -u)/docker.sock:/var/run/docker.sock
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock


